.ListOfDocument {
  margin: auto;
  max-width: 90%;
  display: flex;
  flex-wrap:  wrap;
  flex-direction: column;

  .ListOfDocumentItem {
    border: 1px solid #D4D4D4;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;
    align-items: center;

    .DocumentInformation {
      min-width: 75%;

      .DocumentIcon {
        display: inline-block;
        vertical-align: middle;
        margin-right: 12px;
      }

      .DocumentInfo {
        display: inline-block;
        vertical-align: middle;
        min-width: 70%;

        .DocumentTitle {
          margin: 0;
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 20px;
          color: #414141;
        }

        .DocumentLastEdit {
          margin: 0;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 20px;
          color: #6B6B6B;
        }
      }
    }
  }
}
