.Button {
  background: linear-gradient(180deg, #FFAE45 0%, #E88300 100%);
  border: 1px solid #E88300;
  border-radius: 4px;
  height: 32px;
  padding: 0;
  flex-grow: 3;

  .ButtonText {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    margin:  8px 12px;
    color: #FFFFFF;
  }
}